<!-- Footer Section -->
<div class="inner"  style="background-color: #eff1f2;">
                        
    <!-- Section -->
    <section>
        <div class="row">
            <div class="col-6 col-12-medium">									
                <ul class="contact">
                    {% for link in site.data.links %}
                        {% assign pretty_link = link %}
                        {% if pretty_link contains '://' %}
                            {% assign a = pretty_link | split: '://' %}
                            {% assign pretty_link = a[1] %}
                        {% endif %}

                        {% if pretty_link contains '/' %}
                            {% assign b = pretty_link | split: '/' %}
                            {% assign pretty_link = b[0] %}
                        {% endif %}

                        <li class="fa-external-link"><a href="{{ link }}" target="_blank">{{ pretty_link }}</a></li>

                        {% if forloop.index == 3 %}
                            {% break %}
                        {% endif %}
                    
                    {% endfor %}

                </ul>								
            </div>
            <div class="col-6 col-12-medium">							
                <ul class="contact">
                    <li class="fa-envelope-o"><a href="#">information@untitled.tld</a></li>
                    <li class="fa-user"><a href="imprint.html" target="_blank">Impressum</a></li>
                    <li class="fa-lock "><a href="privacy.html" target="_blank">Datenschutz</a></li>
                    <li class="fa-lock "><a onclick="">Cookie Einstellungen</a></li>
                    <div id="cookie-container"></div>
                </ul>								
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer id="footer">
        <p class="copyright align-center">&copy; Dominic Seitz. All rights reserved. Made with <i class="fa fa-heart" aria-hidden="true"></i> in Karlsruhe. Design: <a href="https://html5up.net" target="_blank">HTML5 UP</a>.</p>          
    </footer>

</div>