<!-- Footer Section -->
<div class="inner"  style="background-color: #eff1f2;">
                        
    <!-- Section -->
    <section>
        <div class="row">
            <div class="col-6 col-12-medium">									
                <ul class="contact">
                    <li class="fa-external-link"><a href="#">untitled.tld</a></li>
                    <li class="fa-external-link"><a href="#">untitled.tld</a></li>
                    <li class="fa-external-link"><a href="#">untitled.tld</a></li>
                </ul>								
            </div>
            <div class="col-6 col-12-medium">							
                <ul class="contact">
                    <li class="fa-envelope-o"><a href="#">information@untitled.tld</a></li>
                    <li class="fa-user"><a href="impressum.html" target="_blank">Impressum</a></li>
                    <li class="fa-lock "><a href="datenschutz.html" target="_blank">Datenschutz</a></li>
                </ul>								
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer id="footer">
        <p class="copyright">&copy; Dominic Seitz. All rights reserved. Made with <i class="fa fa-heart" aria-hidden="true"></i> in Karlsruhe. Design: <a href="https://html5up.net" target="_blank">HTML5 UP</a>.</p>
    </footer>						
    
</div>